body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background-color: #007acc;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 2rem;
}

.site-title {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  background-color: #e6f3ff;
  padding: 2rem;
  border-radius: 1rem;
  gap: 2rem;
}

.hero-img {
  width: 200px;
  max-width: 500px;
  border-radius: 1rem;
 padding-left: 550px;

}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.product {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  flex: 1;
  min-width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.product img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
 
}
